.App {
  text-align: center;
  overflow: hidden;
}

.gate-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
  overflow: hidden;
}


.gate{
  position: absolute;
  width: 50%;
  height: 100%;
  
  background-size: cover;
  animation: moveClouds 3s forwards ease-in-out;
}

.gate-left {
  width: 50%;
  background: url('./assets/images/gateleft.jpg') no-repeat center;
  left: 0;
  animation-name: gateLeft;
}

.gate-right {
  width: 50%;
  background: url('./assets/images/gateright.jpg') no-repeat center ;
  right: 0;
  animation-name: gateRight;
}

@keyframes gateLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes gateRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}


.main-content {
  opacity: 0;
  animation: fadeIn 1s forwards;
  display: none;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


